/* 主页index的样式表 */

/* 顶部导航条的容器 */
.topbar-wrapper {
    /* 设置宽度全屏 */
    width: 100%;
    /* 设置高度和行高，内容可以居中 */
    height: 40px;
    line-height: 40px;
    /* 设置背景颜色 */
    background-color: #333;
}

/* 设置超链接的颜色 */
.topbar a {
    display: block;
    font-size: 12px;
    color: #b0b0b0;
}

/* 设置超链接移入的效果 */
.topbar a:hover {
    color: #fff;
}

/* 设置分割线 */
.topbar .line {
    color: #424242;
    font-size: 12px;
    margin: 0px 8px;
    margin-top: -1px;
}

/* 设置左侧导航条和所有li浮动*/
.service,
.topbar li {
    float: left;
}

/* 设置app鼠标移入显示下拉框 */
.app-wrapper:hover>.app .qrcode {
    height: 148px;
}

/* 给app开启相对定位，这样小三角的定位就可以相对于它定位了 */
.app {
    position: relative;
}

/* 设置下拉框的小三角 ,hover用来显示小三角*/
.app-wrapper:hover>.app::after {
    /* 隐藏小三角 */
    /* display: none; */
    /* 实现小三角 */
    content: "";
    /* 重置宽高，不然三角形大小会受到父元素影响 */
    width: 0px;
    height: 0px;
    /* 开启绝对定位后，脱离文档流，变成块元素，就不用设置display了 display: block; */
    /* 设置四个边框 */
    border: 8px solid transparent;
    /* 去除上边框 */
    border-top: none;
    /* 设置下边框颜色 */
    border-bottom-color: #fff;
    /* 设置绝对定位 */
    position: absolute;
    bottom: 0px;
    left: 14px;
    right: 0px;
    z-index: 999;
}

/* 设置下载app的下拉框 */
.app .qrcode {
    /* 隐藏下拉框 */
    /* display: none; */
    width: 124px;
    height: 0px;
    overflow: hidden;
    /* height: 148px; */
    /* 不设置行高会发现小米商城app几个字被挤下去了，因为它是.topbar-wrapper的后代元素，
        继承了.topbar-wrapper的40px的行高，所以被挤下去 */
    line-height: 0px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    /* 设置绝对定位 */
    position: absolute;
    left: -38px;
    z-index: 1000;
    /* 过渡效果 */
    transition: height 0.7s;
}

/* 设置二维码图片样式 */
.app .qrcode img {
    width: 90px;
    margin: 17px;
    /* 让字靠上一点 */
    margin-bottom: 15px;
}

/* 设置二维码下面的字 */
.app .qrcode span {
    font-size: 14px;
    color: #000;
}

/* 设置购物车和右侧导航条 */
.shop-car,
.user-info {
    float: right;
}

.shop-car {
    margin-left: 26px;
    /* 开启相对定位，让购物车下拉框相对于这个来定位 */
    position: relative;
}

/* 设置购物车的样式 */
.shop-car a {
    width: 120px;
    background-color: #424242;
    text-align: center;
}

/* 设置购物车鼠标移入效果 */
.shop-car:hover a {
    background-color: #fff;
    color: #ff6700;
}

/* 设置购物车图标 */
.shop-car i {
    margin-right: 2px;
}

/* 购物车下拉框的显示 */
.shop-car:hover a+.shop-car-message {
    /* display: block; */
    height: 100px;
}

/* 设置购物车下拉框 */
.shop-car-message {
    /* display: none; */
    width: 280px;
    /* 设置为0，在hover那里设置为100，这样添加一个过渡效果 */
    height: 0px;
    /* height: 100px; */
    overflow: hidden;
    line-height: 100px;
    text-align: center;
    background-color: #fff;
    position: absolute;
    left: -160px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
    /* 用于为样式添加过渡效果 */
    transition: height 0.7s;
    z-index: 1000;
}

/* 设置购物车下面的文字 */
.shop-car-message span {
    font-size: 14px;
    color: #000;
}

/* 给header-wrapper开启定位，让下面的弹出框相对于这个来进行绝对定位 */
.header-wrapper {
    position: relative;
}

/* 设置中间的header*/
.header {
    height: 100px;
}

/* 设置logo */
.header .logo {
    float: left;
    margin-top: 22px;
    width: 55px;
    height: 55px;
    position: relative;
    overflow: hidden;
    /* 隐藏logo中的文字，这个文字是让搜索引擎搜索到的 */
    text-indent: -9999px;
}

/* 设置logo里面的超链接 */
.header .logo a {
    position: absolute;
    width: 55px;
    height: 55px;
    /* 为了过渡效果可以显示，设置一个0 */
    left: 0%;
    background-image: url("/项目练习/小米商城项目/img/logo1.png");
    background-size: cover;
    transition: left 0.3s;
}

/* 设置鼠标移入logo时显示的另一张图片 */
.header .logo .home {
    background-image: url("/项目练习/小米商城项目/img/logo2.png");
}

/* 设置鼠标移入logo ，图标的切换*/
.header .logo:hover .mi {
    left: 55px;
}

/* 设置中间导航条的容器 */
.header .nav-wrapper {
    float: left;
}

/* 设置导航条 */
.header .nav {
    /* 让他的宽度被内容撑开 ，因为下面设置了padding，导致整个框变大，
        也可以设置宽度，但是要减去padding*/
    /* width: 850px; */
    height: 100px;
    line-height: 100px;
    padding-left: 58px;

}

/* 设置浮动 nav的子元素才浮动，这样不会影响第一个li下面的导航菜单*/
.nav>li {
    float: left;
}

/* 给第一个li开启定位，让下面的菜单相对于其进行定位 */
.all-goods-wrapper {
    position: relative;
}

/* 设置第一个li下面的左侧菜单 */
.left-menu {
    width: 234px;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(105, 101, 101, .6);
    position: absolute;
    left: -113px;
    z-index: 999;
    line-height: 0px;
}

/* 设置菜单下面的链接 */
ul.left-menu li a {
    display: block;
    height: 42px;
    line-height: 42px;
    color: white;
    padding: 0px 30px;
    font-size: 14px;
    margin-right: 0px;
}

/* 设置鼠标移入效果 */
ul.left-menu li a:hover {
    color: #fff;
    background-color: #ff6700;
}

/* 设置菜单里的小图标 */
.left-menu a i {
    line-height: 42px;
    float: right;
}

/* 设置菜单的弹出框 */
.left-menu-info {
    width: 0px;
    height: 460px;
    overflow: hidden;
    background-color: red;
    position: absolute;
    top: 0px;
    left: 234px;
    z-index: 999;
    transition: width 1.5s;
}

/* 菜单弹出框的显示 */
ul.left-menu li:hover~.left-menu-info,
.left-menu-info:hover {
    width: 992px;
}

/* 设置鼠标移入效果 */
.nav-wrapper li a:hover {
    color: #ff6700;
}

/* 设置nav下面的链接 */
.nav-wrapper li a {
    display: block;
    font-size: 16px;
    margin-right: 20px;
}

/* 隐藏第一个li */
.all-goods {
    /* 用visibility: hidden;可以隐藏并且占据页面位置，
       display：none 也可以隐藏，但是不占据位置 */
    visibility: hidden;
}

/* 设置nav的下拉框 */
.nav .goods-info {
    /* height: 228px; */
    height: 0px;
    width: 100%;
    overflow: hidden;
    background-color: red;
    /* border-top: 1px solid rgb(224, 224, 224); */
    position: absolute;
    top: 100px;
    left: 0px;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, .3); */
    transition: height 1s;
    z-index: 999;
}

/* 设置下拉框的显示 */
.nav .showgoods:hover~.goods-info,
.goods-info:hover {
    height: 228px;
}

/* 设置搜索框容器 */
.search-wrapper {
    width: 296px;
    height: 50px;
    float: right;
    background-color: rebeccapurple;
    margin-top: 25px;
    position: relative;
}

/* 设置浮动，让框和按钮之间没有空格 */
.search-wrapper .search-inp {
    box-sizing: border-box;
    /* 去除边框，直接用容器的边框 */
    border: none;
    width: 244px;
    float: left;
    font-size: 16px;
    height: 50px;
    padding: 0 10px;
    outline: none;
    border: 1px solid rgb(224, 224, 224);
}

/* 设置input获取焦点后的样式 */
.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus+.search-btn {
    outline: 1px solid #ff6700;
}

.search-wrapper .search-btn {
    float: left;
    height: 50px;
    width: 52px;
    padding: 0px;
    border: none;
    background-color: #fff;
    color: #616161;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
}

.search-wrapper .search-btn:hover {
    background-color: #ff6700;
    color: #fff;
    border: none;
}

/* 设置搜索框的下拉框 */
.search-info {
    width: 244px;
    height: 0px;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    top: 50px;
    transition: height 1s;
    z-index: 999;
}

/* 实现下拉框的显示 */
.search-wrapper .search:hover+.search-info {
    height: 250px;
    outline: 1px solid #ff6700;
}


/* 设置banner */
/* 开启相对定位，不然图片浮动后宽度会失效 */
.banner {
    position: relative;
    height: 460px;
}

.banner .img-list li {
    position: absolute;
}

.banner img {
    width: 100%;
    vertical-align: top;
}

/* 设置导航点 */
.pointer {
    position: absolute;
    bottom: 22px;
    right: 35px;
}

.pointer a {
    float: left;
    width: 6px;
    height: 6px;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
    margin-left: 6px;
}

.pointer a:hover,
.pointer .active {
    border-color: rgba(0, 0, 0, .4);
    background-color: rgba(255, 255, 255, .4);
}

/* 设置箭头 */
.prev-next a {
    width: 41px;
    height: 69px;
    background-image: url(/项目练习/小米商城项目/img/prev.png);
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto 0px;
}

.prev-next .prev-left {
    left: 234px;
    background-position: -84px 0px;
}

.prev-next .prev-right {
    right: 0px;
    background-position: -125px 0px;
}

.prev-next .prev-left:hover {
    background-position: 0px 0px;
}

.prev-next .prev-right:hover {
    background-position: -42px 0px;
}